xml_pipeline/schemas/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://swarm/core/v1"
           elementFormDefault="qualified">
  <xs:element name="huh">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="severity" type="xs:string" use="required"/>
          <xs:attribute name="at" type="xs:dateTime" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>